<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- Tutorial: https://www.mkyong.com/unittest/testng-groups-example/ -->


<suite name = "Group Of Test Methods for checking Browsers" >
	<test verbose="1" name = "checking the Firefox and MS Edge browsers Test"   preserve-order="false">
		<classes>
			<class name="WebDriverTesting.MyMavenWebDriverProject.MyTestRunFirefox" />
			<class name="WebDriverTesting.MyMavenWebDriverProject.MyTestRunEdge" />					
		</classes>
	</test>
</suite>